@import "static/styles/constants";
@import "static/styles/classes";

#HomeHeader {
  $padding-top: 12.5vh;
  min-height: $site-height-min - $padding-top;
  background-color: $blue-dodger;
  padding-top: $padding-top;

  .home-header {
    &__name {
      @extend .__centered;
      font-family: Tahoma, sans-serif;
      color: $white-text;
      font-size: 3rem;
      font-weight: bolder;
      line-height: 1.5;
      text-align: center;
      text-rendering: optimizeLegibility;
    }

    &__title {
      @extend .__centered;
      color: $white-text;
      font-family: Tahoma, sans-serif;
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 1.25;
      text-align: center;
      text-rendering: optimizeLegibility;
    }

    &__profile-pic {
      @extend .__centered;
      border: 3px solid $white-text;
      border-radius: 50%;
      min-width: 30vw;
      max-width: 80vw;
    }
  }
}
