@import "static/styles/breakpoints";
@import "static/styles/constants";
@import "static/styles/classes";

div#HomeHeader {
  background-color: $blue-dodger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  .home-header {
    &__profile-pic {
      @extend .__centered;
      border: 3px solid $white-text;
      border-radius: 50%;
      max-width: 75vw;
      min-width: 30vw;
    }

    &__name {
      @extend .__centered;
      color: $white-text;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.75;
      text-align: center;
      text-rendering: optimizeLegibility;

      @include mobile-view {
        font-size: 1.5rem;
      }
    }

    &__title {
      @extend .__centered;
      color: $white-text;
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 1.5;
      text-align: center;
      text-rendering: optimizeLegibility;

      @include mobile-view {
        font-size: 1.25rem;
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      padding-top: 20px;

      a { text-decoration: none; }

      div {
        background-color: $beige-background;
        border: 3px solid $white-background;
        border-radius: 5px;
        color: $white-text;
        padding: 10px 25px;
        margin: 0 15px;
      }
    }
  }
}
