@import "static/styles/breakpoints";
@import "static/styles/constants";
@import "static/styles/classes";
@import "static/styles/functions";

div#HomeHeader {
  background-color: $blue-dodger;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  .home-header {
    &__profile-pic {
      @extend .__centered;
      border: 3px solid $white-text;
      border-radius: 50%;
      height: auto;
      width: 50%;

      @include min-width-1500 {
        max-width: 25vw;
      }

      @include mobile-view {
        max-width: 85vw;
      }

      @include desktop-portrait {
        max-width: 100%;
      }
    }

    &__name {
      @extend .__centered;
      color: $white-text;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.75;
      text-align: center;
      text-rendering: optimizeLegibility;

      @include mobile-view {
        font-size: 1.5rem;
      }

      @include desktop-portrait {
        font-size: 3rem;
      }

      @include min-width-2100 {
        font-size: 3rem;
      }
    }

    &__title {
      @extend .__centered;
      color: $white-text;
      font-size: GetTypographySize(2rem, 50rem, 700px, 2600px);
      font-weight: lighter;
      line-height: 1.5;
      text-align: center;
      text-rendering: optimizeLegibility;

      @include mobile-view {
        font-size: 1.25rem;
      }

      @include desktop-portrait {
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      padding-top: 20px;

      a { text-decoration: none; }

      div {
        background-color: $beige-background;
        border: 3px solid $white-background;
        border-radius: 5px;
        color: $white-text;
        padding: 10px 25px;
        margin: 0 15px;

        @include desktop-portrait {
          font-size: 2rem;
        }
      }
    }
  }
}
