@import "static/styles/constants";
@import "static/styles/breakpoints";

$form-width-desktop: 50%;

#ContactPage {
  background-color: $blue-dodger;
  color: $white-text;
  padding: 60px 0;
  min-height: 100vh;
  h1 {
    margin: 0 auto;
    padding: 50px 0 0;
    text-align: center;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.75;
    margin: 25px auto 0;
    width: 90%;

    @include min-width-1170 {
      width: $form-width-desktop;
    }
  }

  div.confirmation-dialogue {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    padding: 0 0 50px;
    text-align: center;
    width: 90%;

    iframe.giphy-embed {
      border-radius: 5px;
      margin: 25px auto 0;
      width: fit-content;
    }

    @include min-width-1170 {
      width: $form-width-desktop;
    }
  }
}
