@import "static/styles/constants";
@import "static/styles/breakpoints";

footer#SiteFooter {
  border-top: 3px solid $white-text;
  background-color: $beige-background;
  color: $white-text;
  display: flex;
  justify-content: space-evenly;
  height: 40px;

  @include mobile-view {
    display: none;
  }

  div.general-links {
    margin: auto auto;

    span:not(:last-child):after {
      content: " | ";
    }

    a {
      color: $white-text;
    }
  }

  div.github-link {
    margin: auto auto;
    a {
      color: $white-text;
    }
  }
}
