@import "static/styles/constants";
@import "static/styles/breakpoints";


$shadow-transition: 0.25s box-shadow;

#ContactFields {
  color: $white-text;
  display: flex;
  flex-direction: column;
  font-family: Verdana, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0 auto;
  width: 75%;

  @include desktop-view {
    width: 50%;
  }

  label {
    margin: 100px 0 5px;
  }

  button {
    background-color: transparent;
    border-color: $white-text;
    border-radius: 4px;
    color: $white-text;
    font-family: Verdana, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 100px auto 0;
    padding: 10px;
    transition: 0.25s background-color, color;
    width: 50%;

    &:hover {
      background-color: $white-text;
      color: $blue-dodger;
      cursor: pointer;
      transition: 0.25s background-color, color;
    }
  }

  .form {
    $color-transition: 0.25s color;
    &__input {
      border-radius: 4px;
      font-family: Verdana, sans-serif;
      padding: 10px;
      transition: $shadow-transition, $color-transition;

      &.message {
        padding: 10px 10px 100px;
      }

      &:focus {
        box-shadow: 0 5px 4px 5px black;
        transition: $shadow-transition, $color-transition;
      }
    }

    &__error {
      color: hsla(360, 60%, 75%, 1);
      transition: $color-transition;
    }
  }
}
