/**
  * This file serves for all global styles in the Website
 */

// Browser reset
html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

$site-width: 100vw;
$site-height-min: 100vh;


