@import "static/styles/constants";
@import "static/styles/breakpoints";

.work-page {
  background-color: $blue-dodger;
  padding: $padding-top 0 0;

  &__description {
    background-color: $white-background;
    border-bottom: 3px solid $white-text;
    border-radius: 5px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 25px;
    width: 90%;

    @include mobile-view {
      font-size: 0.85rem;
      width: 87.5%;
    }
  }
}
