@import "static/styles/constants";
@import "static/styles/classes";
@import "static/styles/breakpoints";

.home__about-section {
  background-color: $blue-dodger;
  color: $white-text;
  min-height: 100vh;
  padding: $padding-top 0 50px;

  .about__inner-div {
    background-color: $white-background;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.9);
    margin: 0 auto;
    padding: 2.5vh 0 2.5vh 5vw;
    width: 85%;

    @include mobile-view {
      width: 90%;
    }

    @include large-desktop-view {
      width: 50%;
    }

    p, li {
      padding: 0 5vw;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.4;

      @include mobile-view {
        font-size: 1rem;
        line-height: 1.75;
      }
    }

    li {
      line-height: 1.8;
    }

    h3 {
      font-weight: 700;
      line-height: 1.5;
    }
  }
}
