$breakpoint-mobile: 700px;
$breakpoint-desktop: 1170px;
$breakpoint-desktop-large: 1500px;

@mixin large-desktop-view {
  @media screen and (min-width: $breakpoint-desktop-large) {
    @content
  }
}

@mixin desktop-view {
  @media screen and (min-width: $breakpoint-desktop) {
    @content
  }
}
@mixin mobile-view {
  @media screen and (max-width: $breakpoint-mobile) {
    @content
  }
}

@mixin tablet-view {
  @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-desktop) {
    @content
  }
}
