/**
  * This file serves for all global styles in the Website
 */

// Browser reset
html, body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

$site-width: 100vw;
$site-height-min: 100vh;

// Common Colors and Themes
$beige-background: rgba(230, 131, 25, 0.7);
$blue-background: rgba(37, 183, 203, 0.8);
$blue-accent: rgba(71, 235, 191, 0.8);
$white-text: rgba(255, 255, 255, 0.9);

// Breakpoints
$iPhone6-width: 736px;
$iPad-width: 1024px;
