/**
  * This file serves for all global styles in the Website
 */



$site-width: 100vw;
$site-height-min: 100vh;

// Common Colors and Themes
$blue-dodger: rgba(75, 145, 210, 0.75);
//$blue-dodger: rgba(33, 145, 251, 0.8);
$blue-sky-background: rgba(26,183,234 ,0.8);
$beige-background: rgba(209, 140, 75, 1);
//$beige-background: rgba(230, 131, 25, 0.9);
$blue-background: rgba(37, 183, 203, 0.8);
$blue-accent: rgba(71, 235, 191, 0.8);
$font-family: Verdana, sans-serif;
$silver-background: rgba(224,224,224 ,1);
//$silver-background: rgba(189,195,199 ,1);
$white-text: rgba(255, 255, 255, 0.9);

// Browser reset
html, body {
  margin: 0;
  padding: 0;

  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
}
