@import "static/styles/constants";

div.blog-entry {
  color: $white-text;
  font-size: 1.25rem;
  margin: 0 auto;
  min-height: 200px;
  padding: 50px 0 0;
  width: 75%;

  &:not(:last-child) {
    border-bottom: 3px solid $white-text;
  }

  p.date-published {
    font-size: 1.5rem;
  }

  .blog-markdown {
    background-color: $white-text;
    border-radius: 15px;
    color: black;
    margin: 10px 0 25px;
    padding: 10px;
  }

  .view-button {
    &__link {
      text-decoration: none;
    }
    &__container {
      background-color: $beige-background;
      border: 2px solid $white-text;
      border-radius: 15px;
      color: $white-text;
      margin: 35px 0;
      padding: 10px 25px;
      text-align: center;
      width: fit-content;
    }
  }

  div.blog-tags {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
    }
    &__item {
      background-color: gray;
      border: 3px solid $white-text;
      border-radius: 15px;
      padding: 10px 10px;

      &:not(:first-child) {
        margin: 0 10px;
      }
    }
  }
}
