@import "static/styles/constants";

.tags-container {
  margin-top: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-item {
  width: fit-content;
  text-align: center;

  background-color: #444444;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px 5px 5px 0;

  color: $white-text;
}

.timeline {
  &__icon {
    fill: $white-text;
    height: 100px;
  }
  &__text, &__date {
    color: $white-text;
  }
}
