@import "static/styles/classes";
@import "static/styles/constants";
@import "static/styles/breakpoints";

#site-header {
  @extend .__overlay-base;
  border-bottom: 3px solid $white-text;
  background-color: $beige-background;
  display: flex;
  justify-content: space-evenly;
  width: 100%;


  a {
    text-decoration: none;
    div {
      height: 100%;
      padding: 5px 0;
      text-decoration: none;

      p {
        color: $white-text;
        font-family: $font-family;
        margin: 0 auto;

        @include mobile-view {
          display: none;
        }
      }

      svg.header__nav-icon {
        display: flex;
        fill: $white-text;
        margin: 0 auto;

        &.active {
          fill: $blue-dodger;
        }
      }
    }
  }
}
