@import "static/styles/classes";
@import "static/styles/constants";
@import "static/styles/breakpoints";
@import "static/styles/functions";

#site-header {
  @extend .__overlay-base;
  border-bottom: 3px solid $white-text;
  background-color: $beige-background;
  display: flex;
  font-size: 1rem;
  padding: 3px 0;
  position: fixed;
  justify-content: space-evenly;
  width: 100%;

  a {
    margin: auto 0;
    text-decoration: none;

    &.active {
      p {
        color: rgba(0, 0, 0, 0.75);
      }
      svg.header__nav-icon {
        fill: rgba(0, 0, 0, 0.75);
      }
    }

    div {
      padding: 5px 0;
      text-decoration: none;

      p {
        color: $white-text;
        margin: 0 auto;

        @include mobile-view {
          display: none;
        }
      }

      svg.header__nav-icon {
        display: flex;
        fill: $white-text;
        margin: 0 auto;

        &.active {
          fill: $blue-dodger;
        }
      }
    }
  }
}
